In [57]:
n = 5
for i in range(1,n+1,1):
    print( "*" * i)

*
**
***
****
*****

In [17]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and row!=0) or ((row==0 or row==3)and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [19]:
for row in range(7):
    for col in range(5):
        if (col==0 or col==4) or ((row==0 or row==3 or row==6)and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*   *
*   *
*****
*   *
*   *
*****

In [21]:
for row in range(7):
    for col in range(5):
        if (col==0)or ((row==0 or row==6) and (col>0)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*
*
*
*****

In [23]:
for row in range(7):
    for col in range(5):
        if (col==0) or (col==4 and (row!=0 and row!=6))or ((row==0 or row==6) and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
*   *
*   *
*   *
****

In [25]:
for row in range(7):
    for col in range(5):
        if col==0 or ((row==0 or row==3 or row==6)and (col>0)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*****
*
*
*****

In [27]:
for row in range(7):
    for col in range(5):
        if (col==0) or ((row==0 or row==3) and col>0):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*****
*
*
*

In [29]:
for row in range(7):
    for col in range(6):
        if col==0 or (col==4 and (row!=1 and row!=2))or ((row==0 or row==6)and (col>0 and col<4))or (row==3 and (col==3 or col==5)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*  ***
*   *
*   *
*****

In [31]:
for row in range(7):
    for col in range(5):
        if col==0 or col==4 or (row==3 and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*   *
*   *
*   *
*****
*   *
*   *
*   *

In [33]:
for row in range(7):
    for col in range(5):
        if (col==0) or ((row==0 or row==3) and col>0):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
*
*
*****
*
*
*

In [36]:
for row in range(7):
    for col in range(5):
        if col==2 or (row==0 and col!=2) or (row==6 and col<2):
            print("*",end="")
        else:
            print(end=" ")
    print()

*****
  *
  *
  *
  *
  *
***

In [37]:
i=0
j=4
for row in range(7):
    for col in range(5):
        if col==0 or (row==col+2 and col>1):
            print("*",end="")
        elif((row==i and col==j) and col>0):
            print("*",end="")
            i=i+1
            j=j-1
        else:
            print(end=" ")
    print()

*   *
*  *
* *
**
* *
*  *
*   *

In [39]:
for row in range(7):
    for col in range(5):
        if col==0 or (row==6 and col>0):
            print("*",end="")
        else:
            print(end=" ")
    print()

*
*
*
*
*
*
*****

In [41]:
for row in range(7):
    for col in range(7):
        if col==0 or col==6 or ((row==col)and (col>0 and col<4))or (row==1 and col==5)or (row==2 and col==4):
            print("*",end="")
        else:
            print(end=" ")
    print()

*     *
**   **
* * * *
*  *  *
*     *
*     *
*     *

In [43]:
for row in range(6):
    for col in range(6):
        if col==0 or col==5 or (row==col and (col>0 and col<5)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*    *
**   *
* *  *
*  * *
*   **
*    *

In [45]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and (row!=0 and row!=6)) or ((row==0 or row==6) and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")

    print()

 ***
*   *
*   *
*   *
*   *
*   *
 ***

In [47]:
for row in range(7):
    for col in range(5):
        if col==0 or (col==4 and (row==1 or row==2)) or ((row==0 or row==3) and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
****
*
*
*

In [49]:
for row in range(8):
    for col in range(5):
        if ((col==0 or col==4) and (row>0 and row<6)) or ((row==0 or row==6)and (col>0 and col<4))or (row==5 and col==1)or (row==7 and col==3):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*   *
*   *
*   *
*   *
**  *
 ***
   *

In [51]:
for row in range(7):
    for col in range(5):
        if col==0 or (col==4 and (row!=0 and row!=3)) or ((row==0 or row==3) and (col>0 and col<4)):
            print("*",end="")
        else:
            print(end=" ")
    print()

****
*   *
*   *
****
*   *
*   *
*   *

In [53]:
for row in range(7):
    for col in range(5):
        if((row==0 or row==3 or row==6) and (col>0 and col<4)) or (col==0 and (row>0 and row<3)) or (col==4 and (row>3 and row<6)):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*
*
 ***
    *
    *
 ***

In [58]:
for row in range(7):
    for col in range(5):
        if col==2 or (row==0 and col!=2):
            print("*",end="")
        else:
            print(end=" ")

    print()

*****
  *
  *
  *
  *
  *
  *

In [60]:
for row in range(5):
    for col in range(5):
        if col==2 or (row==0 and col!=2):
            print("*",end="")
        else:
            print(end=" ")

    print()

*****
  *
  *
  *
  *

In [62]:
for num in range(5):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

In [3]:
lastNumber = 7
for row in range(1, lastNumber):
    for column in range(1, row + 1):
        print(column, end=' ')
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [66]:
print("Third Number Pattern")
lastNumber = 6
for row in range(1, lastNumber):
    for column in range(row, 0, -1):
        print(column, end=' ')
    print("")

Third Number Pattern
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1